{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="m-2 p-2 gap-2"> </div>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	<div class="mt-3 mb-3">
		<h2>
			Search
		</h2>
	</div>

	<div class="mt-3 mb-3">
		<div class="row">
			<div class="col-6">
				<h4>
					You searched for term <a class="text-reset fw-bolder">{{term}}</a>
				</h4>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<a href="search" class="d-flex justify-content-end text-right h4 link-primary">Return to Search</a>
			</div>
		</div>
	</div>

	<div class="mt-3 mb-3">
		<h4>
			Your search was executed in <a class="text-reset fw-bolder">{{time}}</a> ms
		</h4>
	</div>

	<div class="m-3 p-3 gap-3"> </div>

	<div class="container table-responsive">
		<table class="table table-hover table-striped m-0">
			<thead>
				<tr>
					<th scope="col">Doc ID</th>
					<th scope="col">Doc Folder</th>
					<th scope="col">Doc Name</th>
					<th scope="col">Frequencies</th>
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					{% for i in row %}
					<td>{{i}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="m-3 p-3 gap-3"> </div>
</div>

{% endblock %}